h1 {
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: antiquewhite;
}

h2 {
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: antiquewhite;

}

header {
    margin: 0;
}

.navbar {
    padding: 10, 10, 5, 5;
}

p {
    color: antiquewhite;
}

body {
    background-image: url("../images/Brighton.jpg");
    background-color: darkcyan;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
}